.home-05 {
  position: relative;
  background: #4C6AFF;
  .title-box {
    margin-top: 0;
    &__title {
      color: $white;
    }
    &__description {
      color: $white;
    }
  }
  .hiring-wrapper {
    padding: 20px 0;
    @include container;
  }
  .hiring-item {
    text-align: center;
    padding: 15px;
    margin-bottom: gutter(susy-get(columns, $phone-layout));
    @include tablet {
      @include gallery(6);
      margin-bottom: gutter(susy-get(columns, $tablet-layout));
    };
    @include laptop {
      @include gallery(3);
    };
    &__link {
      display: block;
      border-radius: 4px;
      background: $white;
      box-shadow: $shadow2-hover;
      padding: 56px 12px 28px;
      position: relative;
      z-index: 0;
      text-decoration: none;
      &:hover {
        z-index: 1;
        box-shadow: $shadow5-hover;
        transition: box-shadow .75s;
      }
    }
    &__img {
      width: 50%;
      border-radius: 4px 4px 0 0;
      margin-bottom: 48px;
    }
    &__title {
      display: block;
      font-size: 20px;
    }
    &__text {
      display: block;
      font-size: 16px;
    }
  }
}
