extends _layout/_layout

//- Variables
append vars
  - var pageTitle       = 'cepave | Job'
  - var pageDescription = 'Description'
  - var bodyClass       = ''

block content
  include _layout/_header/_navigation_bar
  include _section/_hiring/_01
  include _section/_hiring/_02
  include _section/_hiring/_03
  include _section/_hiring/_04
  include _layout/_footer/_footer
