.footer {
  position: relative;
  background-color: $white;
  .container {
    position: relative;
  }
  .left-box {
    text-align: center;
    margin-bottom: 40px;
    @include tablet {
      text-align: left;
      margin-bottom: 20px;
      @include span(6);
    }
  }
  .right-box {
    @include tablet {
      @include span(6 last);
    }
  }
}

.footer-main-box {
  border-bottom: 1px solid rgba($cloud, 0.4);
  @include tablet {
    padding: 32px 0 60px;
  }
}
.footer-logo-box {
  display: block;
  margin-top: 12px;
  margin-bottom: 8px;
  @include tablet {
    margin-top: 0;
  }
}
.footer-logo {
  display: inline-block;
  vertical-align: top;
  background-image: url(../img/etc/logo--circle--color.svg);
  width: 33px;
  height: 33px;
}
.footer-logo-text {
  display: inline-block;
  background-image: url(../img/etc/logo--text--color.svg);
  width: 94px;
  height: 33px;
}
.footer-description {
  display: inline-block;
  color: $color-gray;
  font-size: 12px;
  margin-bottom: 20px;
  @include tablet {
    margin-bottom: 32px;
  }
}

.footer-menu {
  @include clear_list;
  @include clearfix;
  vertical-align: top;
  font-size: 14px;
  margin-bottom: 24px;
  @include tablet {
    @include span(4);
    &:last-child {
      @include span(4 last);
    }
  }
  &__title {
    color: $color-gray-darkest;
    display: block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  &__item {
    font-size: 12px;
    margin-bottom: 12px;
    &__link {
      display: block;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: $color-gray-dark;
      &:hover,
      &:focus,
      &:active,
      &:visited {
        text-decoration: none;
      }
    }
  }
}

.footer-submenu {
  @include clear_list;
  @include clearfix;
  &__item {
    float: left;
    margin-right: 32px;
    &__link {
      font-size: 12px;
    }
  }
}

.footer-copyright {
  text-align: center;
  font-size: 12px;
  display: block;
  margin-top: 15px;
  @include tablet {
    text-align: left;
    position: absolute;
    right: $container_side_margin;
    top: 50%;
    transform: translateY(-50%);
  }
}

.footer-description-box {
  padding: 24px 0 24px;
}

.social {
  @include clear_list;
}
.social__item {
  display: inline-block;
}
.social__link {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  &:before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }
  &--facebook {
    width: 16px;
    height: 16px;
    &:before {
      background: url(#{$icons_path}i--facebook-color.svg) no-repeat center / 16px 16px;
    }
  }
  &--github {
    width: 17px;
    height: 17px;
    &:before{
      background: url(#{$icons_path}i--github.svg) no-repeat center / 17px 17px;
    }
  }
}
.social__item + .social__item {
  margin-left: 12px;
  &:first-child {
    margin-left: 0;
  }
}
