.about-02 {
  position: relative;
  min-height: 1px;
  text-align: center;
  background-color: $color-blue-dark;
  padding: 80px 0;
  padding-bottom:  700px;
  @include laptop {
    padding-bottom: 660px;
  };
  .background {
    @extend .scrim;
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    height: 280px;
    width: 100%;
    bottom: 100%;
    background:linear-gradient(to bottom, rgba($color-blue-dark,0) 0%, rgba($color-blue-dark,1) 100%);
  }
  .about {
    &__text {
      display: block;
      margin: auto;
      font-size: 16px;
      color: $white;
      padding: 0 40px;
      @include tablet {
        padding: 0 100px;
      };
    }
    &__img {
      margin: 80px 60px 60px;
    }
  }
}


.about__culture_box {
  position: relative;
  margin-bottom: 24px;
  @media (#{$max_phone}){
    margin-bottom: 20px;
  }
}

.about__culture_item {
  display: inline-block;
  position: relative;
  cursor: pointer;
  &:hover,
  &.state-active {
    &:after {
      opacity: 1;
    }
    .about__culture_title:after {
      background-color: $color-yellow;
    }
  }
  width: 100 / 4 * 1%;
  margin-bottom: 20px;
}

.about-container {
  @include container();
}

.about__culture_title {
  color: $white;
  padding: 12px 4px;
  font-size: 16px;
  text-transform: uppercase;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 2px;
    transition: background-color .8s ease;
  }
}

.about__culture_text_box {
  display: none;
}
