$enterprise-path: '../img/enterprise/enterprise-';
.about-03 {
  position: relative;
  background: $white;
  padding-bottom: 80px;
  padding-top: 0;
  .title-box {
    margin-top: 0;
  }
  .about-wave-space {
    width: 100%;
    top: 0;
    position: absolute;
    img {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 343px;
    }
  }
  .client-wrapper {
    padding: 20px 0;
    @include container;
  }
  .client-item {
    display: block;
    position: relative;
    text-align: center;
    height: 120px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid transparent;
    background-repeat: no-repeat;
    background-position: center;
    overflow: visible;
    z-index: 0;
    @include gallery(6);
    margin-bottom: gutter(susy-get(columns, $phone-layout));
    @include tablet {
      @include gallery(4);
      margin-bottom: gutter(susy-get(columns, $tablet-layout));
    };
    @include laptop {
      @include gallery(3);
      margin-bottom: gutter(susy-get(columns, $laptop-layout));
    };
    @each $className in xiaomi, didi, weibo, qihoo, pingan, fastweb, meituan, iqiyi {
      &.#{$className} {
        background-image: url(#{$enterprise-path}#{$className}--gray.svg);
        &:hover {
          background-image: url(#{$enterprise-path}#{$className}--color.svg);
        }
      }
    }
    &:hover {
      box-shadow: $shadow5;
      transition: box-shadow .75s;
      z-index: 1;
      border: 1px solid $color-gray-lighter;
    }
  }
}
