* {
  box-sizing: border-box;

  font-weight: 400;
}
html {
  height: 100%;
}
body {
  height: 100%;
  font-family: "graphik-el", "PingFangTC-Thin", "微軟正黑體", "Noto Sans ExtraLight", sans-serif;
  font-weight: 100;
  color: $color-gray-dark;
  &.state-fixed{
    overflow: hidden;
  }
}
a {
  &, &:hover, &:focus {
    color: inherit;
  }
}
button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}
button:focus,
input:focus,
textarea:focus {
  outline: none;
}
input {
  border: none;
}
