%jumbo {
  font-size: 36px;
  line-height: 1;
  @include tablet {
    font-size: 48px;
  }
}
%display {
  font-size: 28px;
  line-height: 1;
  @include tablet {
    font-size: 36px;
    line-height: 1.5;
  }
}
%headline {
  font-size: 24px;
  line-height: 1.5;
}
%title {
  font-size: 20px;
  line-height: 1.6;
}
%subhead {
  font-size: 16px;
  line-height: 1.6;
}
%body {
  font-size: 14px;
  line-height: 1.6;
}
%small {
  font-size: 12px;
  line-height: 1.333;
}
%font-color-white {
  color: $white;
}
%text-align-center {
  text-align: center;
}
%text-align-left {
  text-align: left;
}
