// Susy

$phone: 480px;
$tablet: 992px;
$tablet--landscape: 1024px;
$laptop: 1200px;
$desktop: 1440px;

// ---------
// VARIABLES
// ---------

// Susy Setup
// ----------
$susy: (
  columns: 12,
  gutters: 1/4,
  container: 90em,
  global-box-sizing: border-box
);

// Responsive Grids
// ----------------
$phone-layout             : layout(12 1/4);
$tablet-layout            : layout(12 1/4);
$tablet--lnadscape-layout : layout(12 1/4);
$laptop-layout            : layout(12 1/4);
$desktop-layout           : layout(12 1/4);

// Breakpoints
// -----------
$susy-breakpoint: (
  phone             : 30em, // 480px @16px body font
  tablet            : 62em, // 992px @16px body font
  tablet--lnadscape : 64em, // 1024px @16px body font
  laptop            : 75em, // 1200px @16px body font
  desktop           : 90em  // 1440px @16px body font
);

$bg: transparentize(#E5E5E5, 0.4);

// Breakpoints
// -----------
@mixin phone {
  @include susy-breakpoint(map-get($susy-breakpoint, phone), $phone-layout) {
    @content;
  }
}
@mixin tablet {
  @include susy-breakpoint(map-get($susy-breakpoint, tablet), $tablet-layout) {
    @content;
  }
}
@mixin tablet--lnadscape {
  @include susy-breakpoint(map-get($susy-breakpoint, tablet--lnadscape), $tablet--lnadscape-layout) {
    @content;
  }
}
@mixin laptop {
  @include susy-breakpoint(map-get($susy-breakpoint, laptop), $laptop-layout) {
    @content;
  }
}
@mixin desktop {
  @include susy-breakpoint(map-get($susy-breakpoint, desktop), $desktop-layout) {
    @content;
  }
}

.container {
  padding: 0 gutter();
  @include container();
  @include clearfix;

  @include phone {
    @include show-grid();
  }
  @include tablet {
    @include show-grid();
  }
  @include tablet--lnadscape {
    @include show-grid();
  }
  @include laptop {
    @include show-grid();
  }
  @include desktop {
    @include show-grid();
  }
}

.container-center {
  @include clearfix;
  margin-right: auto;
  margin-left: auto;
}
