// == START OF TEAM 02 ==

- var title       = '全員全棧'
- var description = '我們正努力讓發布與迭代加速，讓創新變得更簡單。'

-
  var departments = [
    {
    'img'  : img_path+'space-helmet-01.svg',
    'title': 'G & A',
    'text' : '重新定義宇宙的邊界'},
    {
    'img'  : img_path+'space-helmet-02.svg',
    'title': 'COMMUNITY',
    'text' : '引領顛覆宇宙的大霹靂'},
    {
    'img'  : img_path+'space-helmet-03.svg',
    'title': 'ENGINEERING',
    'text' : '打造宇宙無敵戰隊'},
    {
    'img'  : img_path+'space-helmet-04.svg',
    'title': 'PRODUCT',
    'text' : '讓宇宙漫遊實現'}
  ];

.team.team-02
  +section-title-box(title, description)
  .container
    .team-wrapper
      each department in departments
        .team-item
          img.team-item__img(src=department.img)
          h3.team-item__title
            | #{department.title}
          span.team-item__text
            | #{department.text}


// == END OF TEAM 02 ==
