// == START OF ABOUT 01 ==

- var headline    = '學歷不能阻礙我們認識彼此'
- var subheadline = '我們尋求有野心、有膽識、有創業想法、勇於挑戰自我、喜歡 Hackathon、熱愛學習以及關注新技術的人才。我們清楚學歷無法完全代表一個人，更不可能阻礙我們認識彼此，只要態度良好、願意學習，能力一定有所發揮。'

.space
.hiring.hiring-01
  .background
    .container
      .cover__content_box
        +headline-box(headline, subheadline)
        .spaceship
          img(src=img_path+'spaceship-xl.svg')

// == End OF ABOUT 01 ==
