// == START OF hiring 03 ==

- var title       = '福利制度'
- var description = '關心你、也關心你的工作環境，在新創公司打拚，不必委屈！'

- var imagPath = 'background-image: url('+pictures_path+'benefit-'
- var extend = '.png)'

-
  var benefitsList = [
    {
      img : imagPath+'001'+extend,
      text: '每天吃不完的零食及喝不完的飲料'
    },
    {
      img : imagPath+'002'+extend,
      text: '每人高額 BYOD 補助、Dell 螢幕，設計師配 iMac 27'
    },
    {
      img : imagPath+'003'+extend,
      text: '每週 TGIF 下午茶活動'
    },
    {
      img : imagPath+'004'+extend,
      text: '每月一次威秀之夜'},
    {
      img : imagPath+'005'+extend,
      text: '每月運動補助津貼'
    },
    {
      img : imagPath+'006'+extend,
      text: '每年員工健康檢查'},
    {
      img : imagPath+'007'+extend,
      text: '特休假採社會年資計算'},
    {
      img : imagPath+'008'+extend,
      text: '遠端工作'},
    {
      img : imagPath+'009'+extend,
      text: '鼓勵利用上班時間參與技術聚會/黑客松/研討會'},
    {
      img : imagPath+'010'+extend,
      text: '通訊補助、員工分紅、三節獎金、績效獎金'},
    {
      img : imagPath+'011'+extend,
      text: '勞、健保及退休金提撥'},
    {
      img : imagPath+'012'+extend,
      text: '每半年團建活動'
    }
  ];

mixin hiring-list__item(benefits)
  li.benefits-item
    .benefits-item__img(style= benefits.img)
    .benefits-item__cover
      .benefits-item__text= benefits.text

.hiring.hiring-03
  +section-title-box(title, description)
  .row
    ul.benefits
      for benefits in benefitsList
        +hiring-list__item(benefits)
