// == START OF HOME 02 ==

- var title       = '漫遊大數據星系!'
- var description = '在傳統商業模式，利潤往往可以被計算，成本與營收相對可被預期。但在網路世代，無形的數位資產與資料，一塊、一塊的聚集在一起，就像是資源豐富的星球，散落在大數據銀河之中。Cepave 就是那群人，探索、採集與連結這些資料的價值，來創造源源不絕的數據經濟。'

.home.home-02
  .background
    .container
      +section-title-box(title, description)
    .rover
      img(src=img_path+'rover.svg')

// == END OF HOME 02 ==
