// == START OF HOME 05 ==

- var title       = 'We Are Cepave'
- var description = 'G & A , Community , Engineering , Product'

- var link = 'http://blog.cepave.com/';
-
  var partners = [
    {
    'link'  : link,
    'img'   : img_path+'planet.svg',
    'title' : 'G & A',
    'text'  : '重新定義宇宙的邊界'},
    {
    'link'  : link,
    'img'   : img_path+'galaxy.svg',
    'title' : 'Community',
    'text'  : '引領顛覆宇宙的大霹靂'},
    {
    'link'  : link,
    'img'   : img_path+'alien.svg',
    'title' : 'Engineering',
    'text'  : '打造宇宙無敵戰隊'},
    {
    'link'  : link,
    'img'   : img_path+'shuttle.svg',
    'title' : 'Product',
    'text'  : '讓宇宙漫遊實現'}
  ];

.home.home-05
  +section-title-box(title, description)
  .container
    .hiring-wrapper
      each partner in partners
        .hiring-item
          a.hiring-item__link(href=partner.link)
            img.home__item_img(src=partner.img)
            h3.hiring-item__title
              | #{partner.title}
            p.hiring-item__text
              | #{partner.text}

// == END OF HOME 05 ==
