.contacts {
  position: relative;
}
.contacts__title {
  font-size: 36px;
  @media (#{$max_phone}){
    font-size: 25px;
  }
}
.contacts__item {
  margin-bottom: 35px;

  &:last-child{
    margin-bottom: 0;
  }
}
.contacts__item_title {
  display: block;
  margin-bottom: 8px;
  font-size: 13px;
  color: $steel;
  text-transform: uppercase;
  font-style: normal;
}
.contacts__item_text {
  color: $concrete;
  font-size: 13px;
}
.contacts__map {
  background-color: $rain;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}
.contacts {
  padding-top: 140px;
  padding-bottom: 140px;
  @media (#{$max_tablet}){
    padding-top: 75px;
    padding-bottom: 0;
  }
  @media (#{$max_phone}){
    padding-top: 50px;
  }
}
.contacts_info_column {
  @media (#{$max_tablet}){
    padding-bottom: 50px;
  }
}
.contacts__title {
  margin-bottom: 65px;
  @media (#{$max_phone}){
    margin-bottom: 40px;
  }
}
.contacts__info {
  margin-bottom: 33px;
}
.contacts__social_item {
  margin-right: 13px;
  &:last-child{
    margin-right: 0;
  }

  .social__link{
    border-color: $rain;
  }
}
.contacts__map_box {
  position: absolute;
  width: 60%;
  height: 100%;
  right: 0;
  top: 0;

  @media (#{$max_tablet}){
    position: relative;
    width: 100%;
    height: 400px;
  }
  @media (#{$max_phone}){
    height: 300px;
  }
}
// map
#CONTENTMAPSS {
  padding-top: 10px;
  .site-notice {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: $color-blue-darker;
  }
  .headline-fouri {
    text-align: center;
  }
  .bodyContent {
    p {
      margin-bottom: 0;
    }
  }
}
