.team-02 {
  position: relative;
  background: $white;
  padding: 50px 0;
  @include tablet {
    padding-bottom: 120px;
  }
  .title-box {
    margin-top: 0;
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    height: 60px;
    width: 100%;
    background-image: url('../img/half-oval.svg');
    background-size: cover;
    background-position-x: center;
    bottom: 100%;
  }
  .team-item {
    text-align: center;
    margin-bottom: gutter(susy-get(columns, $phone-layout));
    @include tablet { 
      @include gallery(6);
      margin-bottom: gutter(susy-get(columns, $tablet-layout));
    };
    @include laptop {
      @include gallery(3);
    };
    &__img {
      margin-top: 32px;
    }
    &__title {
      margin: 8px 0;
      font-size: 20px;
      color: $color-gray-darker;
      text-transform: uppercase;
      letter-spacing: .05em;
    }
    &__text {
      display: block;
      margin: 0 0 20px;
      font-size: 14px;
      padding-left: 10px;
      padding-right: 10px;
      color: $color-gray;
    }
  }
}
